<!DOCTYPE html>
<html lang="en">
  <head>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Jura:wght@400;500;700&family=Merriweather+Sans:wght@300;500&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap" rel="stylesheet">
    
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    {% seo "" %}
  </head>
  <body>
  <main class="wrapper">
    <header class="header">
      <div class="content">
            <h1>
            <a href="/">
        Redeem Tomorrow
                    </a>
    </h1>
      <p class="byline">
        by Danilo Campos
      </p>
      </div>
    </header>
    {{ content | safe }}

          <div class="content">


      <footer class="footer">
        
        <div class="links">
          <a href="/">Home</a>
          <span class="divider">|</span>
          <a href="/posts">Posts</a>
          <span class="divider">|</span>
          <a href="/about">About</a>
        </div>
      </footer>
    
            <p class="copyright">
          Copyright 2021 by Danilo Campos.
        </p>
    </div>
    
  </main>
   
  </body>
</html>