---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="home">
  <div class="content">
    <div class="intro">
      {{ content | safe }}
    </div>
    
    
    {%- for post in collections.posts.slice(0, 3) -%}
    
    
    {%- set date = post.date %}
    {%- set url = post.url %}
    {%- set title = post.data.title %}
    {%- set content = post.templateContent %}
    {%- set tags = post.data.tags %}


    {% include './post-content.njk' %}

    {%- endfor -%}
    
    <h2>
      More Posts
    </h2>
    <ul>
      {%- for post in collections.posts.slice(3) -%}
          {% include './listed-post.njk' %}
      {%- endfor -%}
          <a href="/posts">View all posts</a>
    </ul>
  </div>
</div>



