---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="home">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for post in collections.posts -%}
          {% include './listed-post.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</div>