---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="post">
  <div class="content">
    <h1 class='postTitle'>{{title}}</h1>
    <p class="date">
      {{ page.date | htmlDateString }}
    </p>
    
    {{ content | safe }}
        <span class="extract_end">...</span>
    <div class="controls">
          {% if nextPost.url %}
      <p>
        <strong class="post_nav">◀ </strong>

        <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </p>
    {% endif %}
    {% if prevPost.url %}
      <p>        
        <strong class="post_nav">▶ </strong>
        <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
      </p>
    {% endif %}
    </div>


  </div>
</div>