---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="post">
  <div class="content">
    {% include './post-content.njk' %}

    <div class="controls">
      {% if nextPost.url %}
      <p>
        <strong class="post_nav">< </strong>

        <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </p>
      {% endif %} {% if prevPost.url %}
      <p>
        <strong class="post_nav">> </strong>
        <a class="previous" href="{{ prevPost.url }}"
          >{{ prevPost.data.title }}</a
        >
      </p>
      {% endif %}
    </div>
  </div>
</div>
